<div class="menu">
  <div><img src="{{menu.name}}.jpg"></div>
  <div>
    <div>{{menu.name}}</div>
    <div>{{menu.type}}</div>
    <div>価格:{{menu.value}}</div>
    <div>
      アレルギー:
      {% for a in menu.allergen %}
        {{ a }},
      {% endfor %}
    </div>
    <div
      {% if menu.sold %}
      class="sold show"
      {% else %}
      class="non-sold show"
      {% endif %}
    >
      売り切れ
    </div>
    <div
      {% if menu.sold %}
      class="sold button"
      {% else %}
      class="non-sold button"
      {% endif %}
    >
      売り切れ
    </div>
  </div>
</div>
