<div class="menu" id="{{menu.id}}">
  <div><img class="menu-image" src="{{menu.image}}"></div>
  <div>
    <div>{{menu.name}}</div>
    <div>価格:{{menu.value}}</div>
    <div>
      アレルギー:
      {% for a in menu.allergen %}
        {{ a }},
      {% endfor %}
    </div>
    <div
      {% if menu.sold %}
      class="sold show"
      {% else %}
      class="non-sold show"
      {% endif %}
    >
      <span>売り切れ</span>
    </div>
    <button
      type="button"
      onClick="postStock('{{menu.id}}');"
      {% if menu.sold %}
        class="sold button"
      {% else %}
        class="non-sold button"
      {% endif %}
    >
      <span>売り切れ</span>
    </button>
  </div>
</div>
